 <div class="mt-2 ">

    <!-- basic image processing -->
    <h5>
        <b>
            Basic Image Processing
        </b>
    </h5>
    <!--key value  -->
    <ul class="list-group list-group-flush">
        <li class="list-group-item p-0">
            <span class="text-muted">Convert to Grayscale</span>
        </li>
        <li class="list-group-item p-0">
            <span class="text-muted">
                Convert to JPG
            </span>
        </li>
        <li class="list-group-item p-0">
            <span class="text-muted">
                Resize Image
            </span>
        </li>
        <li class="list-group-item p-0">
            <span class="text-muted">Rotate Image</span>
        </li>
        <li class="list-group-item p-0">
            <span class="text-muted">Split into YCbCr Channels</span>
        </li>
        <li class="list-group-item p-0">
            <span class="text-muted">Split into RGB Channels</span>
        </li>
        <li class="list-group-item p-0">
            <span class="text-muted">Convert to GIF</span>
        </li>
        <li class="list-group-item p-0">
            <span class="text-muted">Clean Scanned Image</span>
        </li>
        <li class="list-group-item p-0">
            <span class="text-muted">Remove Background</span>
        </li>
        <li class="list-group-item p-0">
            <span class="text-muted">Split into parts</span>
        </li>
        <li class="list-group-item p-0">
            <span class="text-muted">Convert to DWT image</span>
        </li>
        <li class="list-group-item p-0">
            <span class="text-muted">Convert to PDF</span>
        </li>
    </ul>
    <h5 class="mt-2">
        <b>
            Camparison Metrics
        </b>
    </h5>
    <!--key value  -->
    <ul class="list-group list-group-flush">
        <li class="list-group-item p-0">
            <span class="text-muted">MSE + PSNR + SSIM + NCC</span>
        </li>
        <li class="list-group-item p-0">
            <span class="text-muted"> RS Analysis</span>
        </li>
        <li class="list-group-item p-0">
            <span class="text-muted">Salt & Pepper</span>
        </li>
        <li class="list-group-item p-0">
            <span class="text-muted">Gaussian Blur</span>
        </li>
        <li class="list-group-item p-0">
            <span class="text-muted">Median Filtering</span>
        </li>
        <li class="list-group-item p-0">
            <span class="text-muted">Vector Quantization</span>
        </li>
    </ul>
</div>
